@font-face {
    font-family: "GothamMedium_1";
    src: url(../Fonts/GothamMedium_1.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: "GothamMedium_1";
    color: white !important;
}

.flex-box{
    display: flex;
    align-items: center;
}
p{
    margin: 0;
    padding-top: 2px;
    font-size: 16px;
}


.grid-box{
    display: grid;
    grid-template-columns: 23% 77%;
    height: 100%;
    width: 100%;
    background-color: black;
    gap: 10px;
    padding: 10px;
}

/*Menu de la izquierda*/
.menu{
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*Menu*/
.home{
    background-color: rgb(24, 24, 22);
    height: 17%;
    border-radius: 15px;
    padding: 15px;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
#spotify-logo{
    margin-left: 6px;
}
.home div{
    width: 100%;
    gap: 17px;
    padding-left: 2px;
    padding-top: 2px;
}


.library{
    background-color: rgb(24, 24, 22);
    height: 83%;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.library > div{
    width: 100%;
    padding-left: 4px;
    padding-top: 2px;
    gap: 9px;
}
.playlist-face{
    gap: 20px !important;
    cursor: pointer;
}
.name{
    font-weight: 100 !important;
}
.autor{
    font-size: small;
    font-weight: lighter;
    color: rgb(192, 186, 186);
}
.info-play{
    flex-direction: column;
    align-items: flex-start !important;
    gap: 6px;
}
.by{
    flex-direction: column;
    align-items: flex-start !important;
}
.by p{
    font-size: small;
}


/*PAGINA PRINCIPAL*/
.principal{
    grid-column: 2/3;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(24, 24, 22);
    flex-direction: column;
    padding: 15px;
    gap: 25px;
}
.navbar{
    width: 100%;
    height: 6%;
    padding: 0px 16px 0px 16px;
    justify-content: space-between;
}
.navbar div{
    gap: 25px;
}
.inicio{
    width: 40%;
    height: 100%;
    justify-content: end;
}
#Perfil{
    background-image: url(../images/WhatsApp\ Image\ 2023-09-17\ at\ 12.26.48\ AM.jpeg);
    background-size: contain;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.saludo{
    justify-content: space-between;
    width: 100%;
    padding: 0 20px 0 20px;
}
.cards-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,80px);
    height: 190px;
    width: 100%;
    padding: 0 20px 0 20px;
    gap: 15px;
    
}
.song{
    width: 100%;
    height: 80px;
    gap: 15px;
    background-color: #e9e1dd2a;
    padding-right: 14px;
    cursor: pointer;
}
.song p{
    font-size: 14px;
}
.play-pause{
    background-color: rgb(8, 177, 8);
    justify-content: center;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-left: auto;
    display: none;
}

.cards-songs{
    width: 100%;
    padding: 0 20px 0 20px;
}
.card-singers{
    height: 225px;
    width: 170px;
    flex-direction: column;
    border: 1px solid red;
    padding: 10px;
    background-color: rgba(8, 8, 8, 0.507);
    border-radius: 10px;
}